<div class="reg_stepPay">
  <div class="reg_stepPay__title demibold">

  </div>
  <div class="row next">
    <div class="col s6">
      <a href="javascript:void(0)" (click)="back($event)" class="waves-effect waves-light btn btn__next btn__skip">
        Назад
      </a>
    </div>
    <!-- !.col.s6 -->
    <div class="col s6">
      <button class="waves-effect waves-light btn btn__next pull-right" (click)="next($event)">
        Далее
      </button>
    </div>
    <!-- !.col.s6 -->
  </div>
</div>