<div class="regStep2">
  <div class="regStep2__wrapper">
    <div class="regStep2__title">
      Проверьте распознанные данные вашего паспорта
    </div>
    <div class="input-field regStep2__inputGroup">
      <label for="name" class="regStep2__label">Имя</label>
      <input type="text" name="name" id="name" class="regStep2__input">
    </div>
    <div class="input-field regStep2__inputGroup">
      <label for="name" class="regStep2__label">Фамилия</label>
      <input type="text" name="name" id="name" class="regStep2__input">
    </div>
    <div class="input-field regStep2__inputGroup">
      <label for="name" class="regStep2__label">Отчество</label>
      <input type="text" name="name" id="name" class="regStep2__input">
    </div>
    <div class="input-field regStep2__inputGroup">
      <label for="name" class="regStep2__label">Дата рождения</label>
      <input type="text" name="name" id="name" class="regStep2__input">
    </div>
    <div class="input-field regStep2__inputGroup">
      <label for="name" class="regStep2__label">Серия и номер паспорта</label>
      <input type="text" name="name" id="name" mask='0000 000000' class="regStep2__input">
    </div>
  </div>
  <div class="next">
    <button type="submit" class="waves-effect waves-light btn btn__next">Далее</button>
  </div>
</div>
