<div class="regStep2">
  <form [formGroup]="form" class="regStep2__wrapper">
    <div class="regStep2__title demibold">
      {{heading}}
    </div>
    <div class="input-field regStep2__inputGroup">
      <input type="text" formControlName="name" name="name" id="name" class="regStep2__input">
      <label for="name" class="regStep2__label" [class.active]="isFilled">Имя</label>
    </div>
    <div class="input-field regStep2__inputGroup">
      <input type="text" formControlName="surname" name="surname" id="surname" class="regStep2__input">
      <label for="surname" class="regStep2__label" [class.active]="isFilled">Фамилия</label>
    </div>
    <div class="input-field regStep2__inputGroup">
      <input type="text" formControlName="middleName" name="middleName" id="middleName" class="regStep2__input">
      <label for="middlNname" class="regStep2__label" [class.active]="isFilled">Отчество</label>
    </div>
    <!-- <div class="input-field regStep2__inputGroup">
      <select formControlName="gender" name="gender" id="gender" materialize="material_select">
        <option value="" disabled selected>Выберите</option>
        <option value="муж">муж</option>
        <option value="жен">жен</option>
      </select>
      <label for="gender" class="regStep2__label">Ваш пол</label>
    </div> -->
    <mat-form-field>
      <mat-select formControlName="gender" placeholder="Ваш пол">
        <mat-option *ngFor="let gender of genderList" [value]="gender.value">
          {{gender.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="input-field regStep2__inputGroup">
      <input type="date" class="regStep2__input regStep2__dateInput" formControlName="birth" name="birth" id="birth">
      <label for="birth" class="regStep2__label active">Дата рождения</label>
    </div>
    <div class="input-field regStep2__inputGroup">
      <input type="text" formControlName="passportNumber" name="passportNumber" id="passportNumber" [showMaskTyped]="showPassportMaskType"
        mask='0000 000000' class="regStep2__input" (focus)="showPassportMaskType = true" (blur)="showPassportMaskType = false">
      <label for="passportNumber" class="regStep2__label" [class.active]="isFilled">Серия и номер паспорта</label>
    </div>

    <div class="input-field regStep2__inputGroup">
      <input type="text" formControlName="passportByWhom" name="passportByWhom" id="passportByWhom" class="regStep2__input">
      <label for="passportByWhom" class="regStep2__label" [class.active]="isFilled">Кем выдан</label>
    </div>
    <div class="input-field regStep2__inputGroup">
      <input type="date" class="regStep2__input regStep2__dateInput" formControlName="passportDate" name="passportDate"
        id="passportDate">
      <label for="passportDate" class="regStep2__label active">Когда выдан</label>
    </div>
    <div class="input-field regStep2__inputGroup">
      <input type="text" formControlName="passportCode" name="passportCode" id="passportCode" [showMaskTyped]="showPassportCodeaskType"
        mask='000-000' class="regStep2__input" [dropSpecialCharacters]="false" (focus)="showPassportCodeaskType = true"
        (blur)="showPassportCodeaskType = false">
      <label for="passportCode" class="regStep2__label" [class.active]="isFilled">Серия и номер паспорта</label>
    </div>
  </form>
  <div class="row next">
    <div class="col s6">
      <a href="javascript:void(0)" (click)="back($event)" class="waves-effect waves-light btn btn__next btn__skip">
        Назад
      </a>
    </div>
    <!-- !.col.s6 -->
    <div class="col s6">
      <button class="waves-effect waves-light btn btn__next" (click)="submitForm($event)" [disabled]="form.invalid">
        Далее
      </button>
    </div>
    <!-- !.col.s6 -->
  </div>
  <!-- !.row.next -->
  <!-- <div class="next">
    <button type="submit" class="waves-effect waves-light btn btn__next">Далее</button>
  </div> -->
</div>
