<div class="regStep3">
  <form [formGroup]="form" autocomplete="off" class="regStep3__wrapper">
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <div class="regStep3__title demibold">
      Введите адрес вашей регистрации
    </div>
    <mat-form-field autoComplete="off" class="example-full-width reStep3__autocomplete">
      <input matInput autoComplete="off" placeholder="Область/регион" [matAutocomplete]="autoRegions" formControlName='region'>
    </mat-form-field>
    <mat-autocomplete #autoRegions="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let region of (regions | async)?.result" [value]="region">
        <span>{{region.type}} {{ region.name }}</span>
      </mat-option>
    </mat-autocomplete>
    <mat-form-field autoComplete="off" class="example-full-width reStep3__autocomplete">
      <input matInput autoComplete="off" placeholder="Населенный пункт" [matAutocomplete]="autoCities" formControlName='locality'>
    </mat-form-field>
    <mat-autocomplete #autoCities="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let city of (cities | async)?.result" [value]="city">
        <span>{{ city.name }}</span>
      </mat-option>
    </mat-autocomplete>
    <mat-form-field autoComplete="off" class="example-full-width reStep3__autocomplete">
      <input matInput autoComplete="off" placeholder="Улица" [matAutocomplete]="autoStreets" formControlName='street'>
    </mat-form-field>
    <mat-autocomplete #autoStreets="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let street of (streets | async)?.result" [value]="street">
        <span>{{ street.type }} {{ street.name }}</span>
      </mat-option>
    </mat-autocomplete>
    <mat-form-field autoComplete="off" class="example-full-width reStep3__autocomplete">
      <input matInput autoComplete="off" placeholder="Дом" [matAutocomplete]="autoBuildings" formControlName="buildingNumber">
    </mat-form-field>
    <mat-autocomplete #autoBuildings="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let building of (buildings | async)?.result" [value]="building">
        <span>{{ building.name }}</span>
      </mat-option>
    </mat-autocomplete>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="apartment" name="apartment" id="apartment" class="regStep3__input">
      <label for="apartment" class="regStep3__label">Квартира</label>
    </div>
  </form>
  <div class="row next">
    <div class="col s6">
      <a href="javascript:void(0)" (click)="skip($event)" class="waves-effect waves-light btn btn__next btn__skip">
        Пропустить
      </a>
    </div>
    <div class="col s6">
      <button class="waves-effect waves-light btn btn__next pull-right" (click)="submitForm($event)" [disabled]="form.invalid">
        Далее
      </button>
    </div>
  </div>
</div>
