<div class="regStep3">
  <form [formGroup]="form" class="regStep3__wrapper">
    <div class="regStep3__title demibold">
      Введите адрес вашей регистрации
    </div>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="region" name="region" id="region" class="regStep3__input" autofocus>
      <label for="region" class="regStep3__label">Область/регион<span class="text-red">*</span></label>
    </div>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="locality" name="locality" id="locality" class="regStep3__input">
      <label for="locality" class="regStep3__label">Населенный пункт<span class="text-red">*</span></label>
    </div>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="street" name="street" id="street" class="regStep3__input">
      <label for="street" class="regStep3__label">Улица<span class="text-red">*</span></label>
    </div>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="buildingNumber" name="buildingNumber" id="buildingNumber" class="regStep3__input">
      <label for="buildingNumber" class="regStep3__label">Дом<span class="text-red">*</span></label>
    </div>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="housing" name="housing" id="housing" class="regStep3__input">
      <label for="housing" class="regStep3__label">Корпус</label>
    </div>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="structure" name="structure" id="structure" class="regStep3__input">
      <label for="structure" class="regStep3__label">Строение</label>
    </div>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="appartment" name="appartment" id="appartment" class="regStep3__input">
      <label for="appartment" class="regStep3__label">Квартира</label>
    </div>
  </form>
  <div class="row next">
    <div class="col s6">
      <a href="javascript:void(0)" (click)="skip($event)" class="waves-effect waves-light btn btn__next btn__skip">
        Пропустить
      </a>
    </div>
    <div class="col s6">
      <button class="waves-effect waves-light btn btn__next pull-right" (click)="submitForm($event)" [disabled]="form.invalid">
        Далее
      </button>
    </div>
  </div>
</div>
