<div class="regStep3">
  <form [formGroup]="form" autocomplete="off" class="regStep3__wrapper">
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <div class="regStep3__title demibold">
      Введите адрес вашей регистрации
    </div>
    <mat-form-field autoComplete="off" class="example-full-width reStep3__autocomplete">
      <input matInput autoComplete="off" placeholder="Область/регион" [matAutocomplete]="auto" formControlName='region'>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let region of (regions | async)?.result" [value]="region">
        <span>{{ region.name }}</span>
      </mat-option>
    </mat-autocomplete>
    <!-- <mat-form-field autoComplete="off" class="example-full-width reStep3__autocomplete">
      <input matInput autoComplete="off" placeholder="Choose a region" [matAutocomplete]="auto" formControlName='region'>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let region of (regions | async)?.result" [value]="region">
        <span>{{ region.name }}</span>
      </mat-option>
    </mat-autocomplete> -->
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="locality" name="locality" id="locality" class="regStep3__input">
      <label for="locality" class="regStep3__label">Населенный пункт<span class="text-red">*</span></label>
    </div>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="street" name="street" id="street" class="regStep3__input">
      <label for="street" class="regStep3__label">Улица<span class="text-red">*</span></label>
    </div>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="buildingNumber" name="buildingNumber" id="buildingNumber" class="regStep3__input">
      <label for="buildingNumber" class="regStep3__label">Дом<span class="text-red">*</span></label>
    </div>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="housing" name="housing" id="housing" class="regStep3__input">
      <label for="housing" class="regStep3__label">Корпус</label>
    </div>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="structure" name="structure" id="structure" class="regStep3__input">
      <label for="structure" class="regStep3__label">Строение</label>
    </div>
    <div class="input-field regStep3__inputGroup">
      <input type="text" formControlName="apartment" name="apartment" id="apartment" class="regStep3__input">
      <label for="apartment" class="regStep3__label">Квартира</label>
    </div>
  </form>
  <div class="row next">
    <div class="col s6">
      <a href="javascript:void(0)" (click)="skip($event)" class="waves-effect waves-light btn btn__next btn__skip">
        Пропустить
      </a>
    </div>
    <div class="col s6">
      <button class="waves-effect waves-light btn btn__next pull-right" (click)="submitForm($event)" [disabled]="form.invalid">
        Далее
      </button>
    </div>
  </div>
</div>
