@import "../../../../style/variables.less";

.reg_stepConfirm {
  &__title{
    margin-bottom: 20px;
  }
  &__wrapper{
    padding: @commonPadding;
  }
  &__pdfViewer {
    position: relative;
    overflow-y: auto;
    height: 50vh;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    background-color: @img_bgColor;
  }

  &__pdfWrapper {
  }

  &__preloaderWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}