<div class="regStep1">
  <form [formGroup]="form" class="regStep1__wrapper">
    <div class="regStep1__title demibold">
      Заселиться в отель<br>за 30 секунд
    </div>
    <div class="regStep1__upload">
      <div class="regStep1__uploadTitle">
        Первая страница главного разворота паспорта
      </div>
      <div class="regStep1__uploadImage" [class.empty]="!mainUrl">
        <ng-container *ngIf="isMainLoading">
          <app-loader></app-loader>
        </ng-container>
        <ng-container *ngIf="!isMainLoading">
          <img [src]="mainUrl ? mainUrl : ''" alt="">
        </ng-container>
      </div>
      <div class="regStep1__uploadInput">
        <div class="validationMessage red-text" *ngIf="form.controls['mainPassport'].errors?.wrongExtension">
          {{validationMessages.wrongExtension}}{{service$.ALLOWED_EXTENSIONS.join(', ')}}
        </div>
        <label class="waves-effect waves-light btn btn__primary regstep1__uploadBtn" for="mainPassport">Прикрепить...</label>
        <input type="file" name="mainPassport" id="mainPassport" (change)="onMainChange($event)" hidden>
        <input type="text" formControlName="mainPassport" hidden>
      </div>
    </div>
    <!-- .regStep1__upload --> <!-- первая страница -->
    <div class="regStep1__upload">
      <div class="regStep1__uploadTitle">
        Вторая страница (Персональная информация)
      </div>
      <div class="regStep1__uploadImage" [class.empty]="!secondUrl">
        <ng-container *ngIf="isSecondLoading">
          <app-loader></app-loader>
        </ng-container>
        <ng-container *ngIf="!isSecondLoading">
          <img [src]="secondUrl ? secondUrl : ''" alt="">
        </ng-container>
      </div>
      <!-- .regStep1__uploadImage -->
      <div class="regStep1__uploadInput">
        <div class="validationMessage red-text" *ngIf="form.controls['secondPassport'].errors?.wrongExtension">
          {{validationMessages.wrongExtension}}{{service$.ALLOWED_EXTENSIONS.join(', ')}}
        </div>
        <label class="waves-effect waves-light btn btn__primary regstep1__uploadBtn" for="secondPassport">Прикрепить...</label>
        <input type="file" name="secondPassport" id="secondPassport" (change)="onSecondChange($event)" hidden>
        <input type="text" formControlName="secondPassport" hidden>
      </div>
    </div>
    <!-- .regStep1__upload --> <!-- вторая страница -->
    <div class="regStep1__upload">
      <div class="regStep1__uploadTitle">
        Регистрация
      </div>
      <div class="regStep1__uploadImage" [class.empty]="!registrationUrl">
        <ng-container *ngIf="isRegLoading">
          <app-loader></app-loader>
        </ng-container>
        <ng-container *ngIf="!isRegLoading">
          <img [src]="registrationUrl ? registrationUrl : ''" alt="">
        </ng-container>
      </div>
      <div class="regStep1__uploadInput">
        <div class="validationMessage red-text" *ngIf="form.controls['registrationPage'].errors?.wrongExtension">
          {{validationMessages.wrongExtension}}{{service$.ALLOWED_EXTENSIONS.join(', ')}}
        </div>
        <label class="waves-effect waves-light btn btn__primary regstep1__uploadBtn" for="registrationPage">Прикрепить...</label>
        <input type="file" name="registrationPage" id="registrationPage" (change)="onRegChange($event)" hidden>
        <input type="text" formControlName="registrationPage" hidden="hidden">
      </div>
    </div>
  </form>
  <div class="row next">
    <div class="col s6">
      <a href="javascript:void(0)" (click)="skipStep($event)" class="waves-effect waves-light btn btn__next btn__skip">
        Пропустить
      </a>
    </div>
    <!-- !.col.s6 -->
    <div class="col s6">
      <button class="waves-effect waves-light btn btn__next pull-right" (click)="submitForm($event)" [disabled]="form.invalid">
        Далее
      </button>
    </div>
    <!-- !.col.s6 -->
  </div>
  <!-- !.row.next -->
</div>
